.addBookform{
    border: 1px solid cornflowerblue;
    box-shadow: 10px 10px 10px cornflowerblue;
    width:600px ;
    margin: auto;
    padding: 5px;
    margin-bottom: 15px;
}
.addBookform input{
    width: 500px;
    outline-color:cornflowerblue ;
    border: none;
    /* border: 1px dotted cornflowerblue ; */
    border-bottom: 1px solid  cornflowerblue;
    
}

.addBookform textarea{
    width: 500px;
    margin-top: 3px;
    outline-color:cornflowerblue ;
}

.addBook h1{
color: cornflowerblue;
margin: 5px;
}
/* .addBookform ::placeholder{
    color: rgba(100, 148, 237, 0.705) ;
} */
.addBookform div{
    /* width: 600px; */
    margin: 0px 5px;
}
