.book_section{
    background-color: white;

   
   
}
.books{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid cornflowerblue;
    width: 800px;
    height: 290px;
    margin: 11px auto;
    box-shadow: 5px 5px 5px cornflowerblue;
}
.images{
    width: 250px;
}
.books_data{
    
    text-align: left;
    width: 500px;
    
}
.books button{
    color: rgb(185, 32, 32);
    margin-bottom: 3px;
    margin: auto;
}
#btn{
    width: 50px;
    text-align: center;
}