.landingpage{
    margin: 0px;
    background-image: url('../../public/images/bg3.avif');
    background-color:black;
    height: 90vh;
    background-size:cover;
    padding-top:5% ;
}

.selection{
    display: flex;
    justify-content: space-evenly;
    margin:50px 0px 0px 0px ;
   
}
.selection img{
    padding: 20px;
}
.main h1{
    margin: 0;
    padding: 0px;
    color: rgb(2, 75, 41);

}
.main{
    width: 500px;
    height: 250px;
    text-align: center;
    margin: auto;
    padding: 9%;
    background-color: rgb(248, 248, 248);
    opacity:70%;
    box-shadow: 10px 10px 10px black;
    border-radius: 15px;

}
.selection a{
    text-decoration: none ;
    border: 1px solid rgb(233, 7, 7);
    color: rgb(3, 3, 3);
    padding: 10px;
}